[submodule "kwin-script-grid-tiling-git"]
	path = kwin-script-grid-tiling-git
	url = ssh://aur@aur.archlinux.org/kwin-script-grid-tiling-git.git
[submodule "plasma5-wallpapers-dynamic"]
	path = plasma5-wallpapers-dynamic
	url = ssh://aur@aur.archlinux.org/plasma5-wallpapers-dynamic.git
[submodule "index-generator"]
	path = index-generator
	url = ssh://aur@aur.archlinux.org/index-generator.git
[submodule "imgui"]
	path = imgui
	url = ssh://aur@aur.archlinux.org/imgui.git
[submodule "xwinwrap-git"]
	path = xwinwrap-git
	url = ssh://aur@aur.archlinux.org/xwinwrap-git.git
[submodule "ttf-material-design-iconic-font"]
	path = ttf-material-design-iconic-font
	url = ssh://aur@aur.archlinux.org/ttf-material-design-iconic-font.git
[submodule "python-image-go-nord"]
	path = python-image-go-nord
	url = ssh://aur@aur.archlinux.org/python-image-go-nord.git
[submodule "dingtalk-bin"]
	path = dingtalk-bin
	url = ssh://aur@aur.archlinux.org/dingtalk-bin.git
[submodule "google-chrome"]
	path = google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "flashplayer-standalone"]
	path = flashplayer-standalone
	url = https://aur.archlinux.org/flashplayer-standalone.git
